@{ ViewData["Title"] = "Toutes les fermetures"; }

@model List<Fermetures>

@{
    DateTime LocalDate = DateTime.UtcNow;

  }

<h1>@ViewData["Title"]</h1>

<h2>Les futures dates de fermeture</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Type de fermeture</th>
            <th>Date de fermeture</th>
            <th>Date de réouverture</th>
            <th>Durée de la fermeture en heure</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var fermetures in Model)
        {
            TimeSpan diff = @fermetures.ReopeningDate - @fermetures.ClosingDate;

        <tr>
        @if (@fermetures.ClosingDate > LocalDate)
        {
            <td>@fermetures.BoatName</td>
            <td>@fermetures.ClosingType</td>
            <td>@fermetures.ClosingDate.ToString("dddd MMMM yyyy, HH:mm:ss")</td>
            <td>@fermetures.ReopeningDate.ToString("dddd MMMM yyyy, HH:mm:ss")</td>
            <td>@diff</td>
        }
        </tr>
        }
    </tbody>
</table>


<h2>Les précédentes dates de fermeture</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Type de fermeture</th>
            <th>Date de fermeture</th>
            <th>Date de réouverture</th>
            <th>Durée de la fermeture en heure</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var fermetures in Model)
        {
            TimeSpan diff = @fermetures.ReopeningDate - @fermetures.ClosingDate;
        <tr>


            @if (@fermetures.ClosingDate < LocalDate)
            {
            <td>@fermetures.BoatName</td>
            <td>@fermetures.ClosingType</td>
            <td>@fermetures.ClosingDate.ToString("dddd MMMM yyyy, HH:mm:ss")</td>
            <td>@fermetures.ReopeningDate.ToString("dddd MMMM yyyy, HH:mm:ss")</td>
            <td>@diff</td>
            }

        </tr>}
    </tbody>
</table>