@{ ViewData["Title"] = "Toutes les fermetures"; }

@model List<Fermetures>

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Type de fermeture</th>
            <th>Date de fermeture</th>
            <th>Date de réouverture</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var fermetures in Model)
        {
            <tr>
                <td>@fermetures.BoatName</td>
                <td>@fermetures.ClosingType</td>
                <td>@fermetures.ClosingDate.ToString("dd MMMM, yyyy")</td>
                <td>@fermetures.ReopeningDate.ToString("dd MMMM, yyyy")</td>
            </tr>
         }
    </tbody>
</table>