@{ ViewData["Title"] = "Prochaine fermeture"; }

@model Fermetures

<h1>@ViewData["Title"]</h1>
@{ TimeSpan diff = Model.ReopeningDate - Model.ClosingDate;
   DateTime DtNow = DateTime.UtcNow;
   TimeSpan ProchaineFermeture = Model.ClosingDate - DtNow;
   var CompteARebours = "Aura lieu dans " + ProchaineFermeture.Days + " jour(s), " + ProchaineFermeture.Hours + " heure(s), " + ProchaineFermeture.Minutes + " minute(s) et " + ProchaineFermeture.Seconds + " seconde(s).";
 }


<div class="card">
    <h5 class="card-header">
        <div class="alert alert-info" role="alert">
            @CompteARebours
        </div>
    </h5>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type de fermeture</th>
                    <th>Date de fermeture</th>
                    <th>Date de réouverture</th>
                    <th>Durée de la fermeture en heure</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.BoatName</td>
                    <td>@Model.ClosingType</td>
                    <td>@Model.ClosingDate.ToString("dddd dd MMMM yyyy, HH:mm:ss")</td>
                    <td>@Model.ReopeningDate.ToString("dddd dd MMMM yyyy, HH:mm:ss")</td>
                    <td>@diff</td>
                </tr>
            </tbody>
        </table>
        @if ((@Model.ClosingDate.Hour >= 7 && @Model.ClosingDate.Hour <= 9) ^ (@Model.ClosingDate.Hour >= 17 && @Model.ClosingDate.Hour <= 19))
        {
            <div class="alert alert-danger" role="alert">
                Risque de bouchons élevé.
            </div>
        } else {
            <div class="alert alert-success" role="alert">
                Faible risque de bouchon.
            </div>
        }
        <a href="/Home/Closings" class="btn btn-primary">Voir toutes les fermetures</a>
    </div>
</div>